<% provide(:title, 'Sign up') %>
<div>
<br>
<br>
<br>
<br>
<br>
<br>
</div>

<h1>Regístrate</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: registrate_path) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    
      <%= f.label :nombre %>
      <%= f.text_field :nombre, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :fecha, "Fecha de nacimiento" %>
      <%= f.date_field :fecha, class: 'form-control' %>


      <%= f.label :password, "Contraseña" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmación de la contraseña" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Registrarme", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>