<p id="notice"><%= notice %></p>

<div>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
<h1>Houses</h1>




<%= form_tag(houses_path, :method => "get", id: "search-form") do %>
  Tipo: <%= select_tag(:kind, options_for_select(['Cualquiera', 'Casa', 'Departamento', 'Cuarto'], :selected => params[:kind])) %>
  Ordenar costo: <%= select_tag(:cost, options_for_select(['Mayor a menor', 'Menor a mayor'], :selected => params[:cost])) %>
  ¿Qué deseas buscar?<%= text_field_tag :search, params[:search], placeholder: "Buscar" %>
  <%= submit_tag "Buscar" %>
<% end %>


<div class="col-md-8">
      <h3>CASAS (<%= @houses.count %>)</h3>
      <ol class="houses">
        <%  @houses = @houses.paginate(page: params[:page]) %>
        <%= render @houses %>
      </ol>
      <%= will_paginate @houses %>
</div>
  